@media (min-width: 768px){
	#hldt_index,#ebook_index{
		width:50% !important;
	}
	.image_hoclieu{
		margin-right: 10px;
		margin-top: -3px;
	}
	.content_richmedia a{

	}
	.woocommerce .product-wrap .product-content{
		height: 38px;
	}
	.hinhanhchitiet{
		width:45% !important;
	}
	.noidungchitiet{
		width:54% !important;
	}
	.logo{
		
	}
	.page_category .col-sm-4{
		height: 350px;
	}
	.page_category .product-wrap .add-to-cart-btn a.button, .single_add_to_cart_button{
		width: 100%;
	}
	.woocommerce-result-count{
		text-align:right;
	}
	.contact_left{
		float:left;
		width:58%;
	}
	.formcontact{
		float: right;
    	width: 40%;
	}
}
@media (max-width: 768px){
	.image_hoclieu{
		margin-right: 8px;
		margin-top: -3px;
	}
}
.nav-menu-red{
    height: 50px;
    border-bottom: 2px solid rgb(81, 163, 81);
    border-radius: 0;
    padding: 0;
    padding-bottom: 3px;
    margin: 0;
}
.show-brand .navbar-brand {
    display: block;
    margin-left: 0!important;
    text-transform: uppercase;
    padding: 0;
    padding-left: 0px;
    font-size: 16px;
    color: #000;
    text-align: left
}
.tabthongtinkhac{
	color: #f7f7f7;
}
.tabthongtinkhac:hover{
	color: #FFFF00 !important;
}
.motahoclieu{
	text-align:justify;
}
#header{
	/*
	background: url(../images/banner_elc_2019.png) no-repeat rgba(0, 0, 0, 0);
    background-color: #003a6a;
    border-bottom: 4px solid;
    background-size: 100%;
    */
}
.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
}
.menumobile{
    position: relative;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
}
.v3-header-navigation nav li{
    list-style: none;
    background: #003366;
    border-top: 1px solid #576979;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    text-align: left;
    height: auto;
}
.v3-header-navigation nav li a{
	color: white;
}
.v3-header-navigation nav li a:hover{
	color: #FFFF00;
}
@media (max-width: 1024px){
	.bks-product-slider .carousel-controls{
		opacity: 1 !important;
	}
}